# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release


# The bugs present in current version:-
# ->	It searches only by city name of only India due to the API used.
# ->	The search happens when you type city name in CamelCase -> press enter -> then cancel the search.
# ->	A city named "Thang" appears after every first searach due to null present in search bar .
# ->	Sometimes the background image are same for different weather types due to lack of proper resources of images.
# ->	App dosent gets installed on redmi devices.
# ->	The menu option is still not developed.
# ->	The initial three cities{Kolkata,London,NewYork} are predefined static data.
# ->	Their values are not real.
# ->	The app working starts with the first search and then we get real data from openweather api.

# I would work upon these later and improve the app further ;)
